@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moo+Lah+Lah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 0;
}

/*********** Navbar *************/

.navbar{
    display: flex;
    box-shadow: 0 0 10px #000;
    background-color:#0000005b ;
}
#nav-items{
    margin-left:30vw;
    flex:2;
    display: flex;
    justify-content:space-evenly !important;
    text-decoration: none;
    font-family: "Major Mono Display", serif;
    width: 100% !important;
}
.nav-link{
    color: #fff !important;
    font-weight: 600;
    font-size: x-large;
    text-transform: uppercase;
    padding: 20px !important;
}
.nav-link:hover{
    font-size:xx-large;
}
.navbar-brand{
    flex: 1;
    color: #fff;
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 15px;
}
.fa-bars{
    color: #fff !important;
}
.bar-scrolled{
    transition: all 0.5s;
    background: black;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}
  @media(max-width: 1350px){
    #nav-items{
        margin-left:15vw;
    }
}
@media(max-width: 992px){
    #nav-items{
        text-align: center !important;
        margin-left:15px;
    }
}

 /************ Banner ************/

.bg{
    background: url(background.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.quote{
    font-size:xx-large;
    text-align: center;
    width: 100%;
    position: absolute;
    top:50%;
}